*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}
body{
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}

.debug{
  border: 2px solid red;
}


.section-top{
 margin: 0 auto;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  z-index: 999;
  color: rgb(117, 26, 26);
  text-align: end;
  
}

.section-mid{
  width: 90%;
  height:calc(85vh + 45px);
  margin: 0 auto;
  margin-top: 70px;
}

.section-bot{
  width: 100%;
  margin-top: 20px;
  height: calc(15vh - 20px);
  background-color: grey;
  position: fixed;
  z-index: 999;
  bottom: 0;
}

img{
  max-width: 210px;
}

.imma{
  flex-wrap: wrap;
  
}

