*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}

.debug{
  border: 2px solid red;
}

.section-top{
 margin: 0 auto;
  width: 90%;
  height: 20vh;
  margin-top: 50px;
  
}

.section-mid{
  margin: 0 auto;
  width: 90%;
  height:60vh ;
}

.section-bot{
  width: 100%;
  margin-top: 20px;
  height: calc(20vh - 50px);
  background-color: grey;
}